@import "tailwindcss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  background-color: black;
}
button {
  cursor: pointer;
}
span,
input {
  color: white;
}
svg {
  background-color: transparent;
}
