.delete-edit-modal-cover {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
}
.delete-edit-modal {
  z-index: 10;

  position: absolute;

  width: 248px;
  height: 440px;
  background-color: black;

  border-radius: 10px;

  border: 2px solid rgba(255, 255, 255, 0.137);
  box-shadow: 0 0 10px rgba(255, 254, 252, 0.048);
  /* background-clip: padding-box; */

  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
}
.modal-button {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 10px;

  background-color: black;

  padding-left: 16px;
  gap: 14px;
  font-weight: 400;

  cursor: pointer;
}
.modal-button:hover {
  background-color: rgb(11, 11, 11);
}
.modal-button-image {
  width: 18.75px;
  height: 18.75px;
  /* background-color: red; */
  fill: white;
}
.red {
  fill: red;
  color: red;

  font-weight: 600;
}
.feed-post-option-button2 {
  position: relative;
}
@media screen and (max-width: 1017px) {
}
